node_modules/.package-lock.json
node_modules/.bin/node-gyp-build
node_modules/.bin/node-gyp-build-optional
node_modules/.bin/node-gyp-build-optional.cmd
node_modules/.bin/node-gyp-build-optional.ps1
node_modules/.bin/node-gyp-build-test
node_modules/.bin/node-gyp-build-test.cmd
node_modules/.bin/node-gyp-build-test.ps1
node_modules/.bin/node-gyp-build.cmd
node_modules/.bin/node-gyp-build.ps1
node_modules/@serialport/binding-mock/.releaserc
node_modules/@serialport/binding-mock/LICENSE
node_modules/@serialport/binding-mock/package.json
node_modules/@serialport/binding-mock/README.md
node_modules/@serialport/binding-mock/dist/index-esm.mjs
node_modules/@serialport/binding-mock/dist/index.d.ts
node_modules/@serialport/binding-mock/dist/index.js
node_modules/@serialport/bindings-cpp/binding.gyp
node_modules/@serialport/bindings-cpp/LICENSE
node_modules/@serialport/bindings-cpp/package.json
node_modules/@serialport/bindings-cpp/README.md
node_modules/@serialport/bindings-cpp/dist/darwin.d.ts
node_modules/@serialport/bindings-cpp/dist/darwin.js
node_modules/@serialport/bindings-cpp/dist/errors.d.ts
node_modules/@serialport/bindings-cpp/dist/errors.js
node_modules/@serialport/bindings-cpp/dist/index.d.ts
node_modules/@serialport/bindings-cpp/dist/index.js
node_modules/@serialport/bindings-cpp/dist/linux-list.d.ts
node_modules/@serialport/bindings-cpp/dist/linux-list.js
node_modules/@serialport/bindings-cpp/dist/linux.d.ts
node_modules/@serialport/bindings-cpp/dist/linux.js
node_modules/@serialport/bindings-cpp/dist/load-bindings.d.ts
node_modules/@serialport/bindings-cpp/dist/load-bindings.js
node_modules/@serialport/bindings-cpp/dist/poller.d.ts
node_modules/@serialport/bindings-cpp/dist/poller.js
node_modules/@serialport/bindings-cpp/dist/unix-read.d.ts
node_modules/@serialport/bindings-cpp/dist/unix-read.js
node_modules/@serialport/bindings-cpp/dist/unix-write.d.ts
node_modules/@serialport/bindings-cpp/dist/unix-write.js
node_modules/@serialport/bindings-cpp/dist/win32-sn-parser.d.ts
node_modules/@serialport/bindings-cpp/dist/win32-sn-parser.js
node_modules/@serialport/bindings-cpp/dist/win32.d.ts
node_modules/@serialport/bindings-cpp/dist/win32.js
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-delimiter/LICENSE
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-delimiter/package.json
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-delimiter/README.md
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-delimiter/dist/index.d.ts
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-delimiter/dist/index.js
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-readline/LICENSE
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-readline/package.json
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-readline/README.md
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-readline/dist/index.d.ts
node_modules/@serialport/bindings-cpp/node_modules/@serialport/parser-readline/dist/index.js
node_modules/@serialport/bindings-cpp/prebuilds/android-arm/node.napi.armv7.node
node_modules/@serialport/bindings-cpp/prebuilds/android-arm64/node.napi.armv8.node
node_modules/@serialport/bindings-cpp/prebuilds/darwin-x64+arm64/node.napi.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-arm/node.napi.armv6.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-arm/node.napi.armv7.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-arm64/node.napi.armv8.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-x64/node.napi.glibc.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-x64/node.napi.musl.node
node_modules/@serialport/bindings-cpp/prebuilds/win32-ia32/node.napi.node
node_modules/@serialport/bindings-cpp/prebuilds/win32-x64/node.napi.node
node_modules/@serialport/bindings-cpp/src/darwin_list.cpp
node_modules/@serialport/bindings-cpp/src/darwin_list.h
node_modules/@serialport/bindings-cpp/src/poller.cpp
node_modules/@serialport/bindings-cpp/src/poller.h
node_modules/@serialport/bindings-cpp/src/serialport_linux.cpp
node_modules/@serialport/bindings-cpp/src/serialport_linux.h
node_modules/@serialport/bindings-cpp/src/serialport_unix.cpp
node_modules/@serialport/bindings-cpp/src/serialport_unix.h
node_modules/@serialport/bindings-cpp/src/serialport_win.cpp
node_modules/@serialport/bindings-cpp/src/serialport_win.h
node_modules/@serialport/bindings-cpp/src/serialport.cpp
node_modules/@serialport/bindings-cpp/src/serialport.h
node_modules/@serialport/bindings-interface/CODE_OF_CONDUCT.md
node_modules/@serialport/bindings-interface/LICENSE
node_modules/@serialport/bindings-interface/package.json
node_modules/@serialport/bindings-interface/README.md
node_modules/@serialport/bindings-interface/dist/index-esm.mjs
node_modules/@serialport/bindings-interface/dist/index.d.ts
node_modules/@serialport/bindings-interface/dist/index.js
node_modules/@serialport/parser-byte-length/LICENSE
node_modules/@serialport/parser-byte-length/package.json
node_modules/@serialport/parser-byte-length/README.md
node_modules/@serialport/parser-byte-length/dist/index.d.ts
node_modules/@serialport/parser-byte-length/dist/index.js
node_modules/@serialport/parser-cctalk/LICENSE
node_modules/@serialport/parser-cctalk/package.json
node_modules/@serialport/parser-cctalk/README.md
node_modules/@serialport/parser-cctalk/dist/index.d.ts
node_modules/@serialport/parser-cctalk/dist/index.js
node_modules/@serialport/parser-delimiter/LICENSE
node_modules/@serialport/parser-delimiter/package.json
node_modules/@serialport/parser-delimiter/README.md
node_modules/@serialport/parser-delimiter/dist/index.d.ts
node_modules/@serialport/parser-delimiter/dist/index.js
node_modules/@serialport/parser-inter-byte-timeout/LICENSE
node_modules/@serialport/parser-inter-byte-timeout/package.json
node_modules/@serialport/parser-inter-byte-timeout/README.md
node_modules/@serialport/parser-inter-byte-timeout/dist/index.d.ts
node_modules/@serialport/parser-inter-byte-timeout/dist/index.js
node_modules/@serialport/parser-packet-length/LICENSE
node_modules/@serialport/parser-packet-length/package.json
node_modules/@serialport/parser-packet-length/README.md
node_modules/@serialport/parser-packet-length/dist/index.d.ts
node_modules/@serialport/parser-packet-length/dist/index.js
node_modules/@serialport/parser-readline/LICENSE
node_modules/@serialport/parser-readline/package.json
node_modules/@serialport/parser-readline/README.md
node_modules/@serialport/parser-readline/dist/index.d.ts
node_modules/@serialport/parser-readline/dist/index.js
node_modules/@serialport/parser-ready/LICENSE
node_modules/@serialport/parser-ready/package.json
node_modules/@serialport/parser-ready/README.md
node_modules/@serialport/parser-ready/dist/index.d.ts
node_modules/@serialport/parser-ready/dist/index.js
node_modules/@serialport/parser-regex/LICENSE
node_modules/@serialport/parser-regex/package.json
node_modules/@serialport/parser-regex/README.md
node_modules/@serialport/parser-regex/dist/index.d.ts
node_modules/@serialport/parser-regex/dist/index.js
node_modules/@serialport/parser-slip-encoder/LICENSE
node_modules/@serialport/parser-slip-encoder/package.json
node_modules/@serialport/parser-slip-encoder/README.md
node_modules/@serialport/parser-slip-encoder/dist/decoder.d.ts
node_modules/@serialport/parser-slip-encoder/dist/decoder.js
node_modules/@serialport/parser-slip-encoder/dist/encoder.d.ts
node_modules/@serialport/parser-slip-encoder/dist/encoder.js
node_modules/@serialport/parser-slip-encoder/dist/index.d.ts
node_modules/@serialport/parser-slip-encoder/dist/index.js
node_modules/@serialport/parser-spacepacket/LICENSE
node_modules/@serialport/parser-spacepacket/package.json
node_modules/@serialport/parser-spacepacket/README.md
node_modules/@serialport/parser-spacepacket/dist/index.d.ts
node_modules/@serialport/parser-spacepacket/dist/index.js
node_modules/@serialport/parser-spacepacket/dist/utils.d.ts
node_modules/@serialport/parser-spacepacket/dist/utils.js
node_modules/@serialport/stream/LICENSE
node_modules/@serialport/stream/package.json
node_modules/@serialport/stream/README.md
node_modules/@serialport/stream/dist/index.d.ts
node_modules/@serialport/stream/dist/index.js
node_modules/debug/LICENSE
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/common.js
node_modules/debug/src/index.js
node_modules/debug/src/node.js
node_modules/long/index.js
node_modules/long/LICENSE
node_modules/long/package.json
node_modules/long/README.md
node_modules/long/dist/long.js
node_modules/long/dist/long.js.map
node_modules/long/src/long.js
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/node-addon-api/common.gypi
node_modules/node-addon-api/except.gypi
node_modules/node-addon-api/index.js
node_modules/node-addon-api/LICENSE.md
node_modules/node-addon-api/napi-inl.deprecated.h
node_modules/node-addon-api/napi-inl.h
node_modules/node-addon-api/napi.h
node_modules/node-addon-api/node_api.gyp
node_modules/node-addon-api/noexcept.gypi
node_modules/node-addon-api/nothing.c
node_modules/node-addon-api/package-support.json
node_modules/node-addon-api/package.json
node_modules/node-addon-api/README.md
node_modules/node-addon-api/tools/check-napi.js
node_modules/node-addon-api/tools/clang-format.js
node_modules/node-addon-api/tools/conversion.js
node_modules/node-addon-api/tools/eslint-format.js
node_modules/node-addon-api/tools/README.md
node_modules/node-gyp-build/bin.js
node_modules/node-gyp-build/build-test.js
node_modules/node-gyp-build/index.js
node_modules/node-gyp-build/LICENSE
node_modules/node-gyp-build/node-gyp-build.js
node_modules/node-gyp-build/optional.js
node_modules/node-gyp-build/package.json
node_modules/node-gyp-build/README.md
node_modules/osc/.gitattributes
node_modules/osc/.jshintrc
node_modules/osc/bower.json
node_modules/osc/clean-npm.sh
node_modules/osc/GPL-LICENSE.txt
node_modules/osc/Gruntfile.js
node_modules/osc/MIT-LICENSE.txt
node_modules/osc/package.json
node_modules/osc/README.md
node_modules/osc/Vagrantfile
node_modules/osc/.config/configstore/update-notifier-nodemon.json
node_modules/osc/.vscode/launch.json
node_modules/osc/bower_components/eventEmitter/.bower.json
node_modules/osc/bower_components/eventEmitter/bower.json
node_modules/osc/bower_components/eventEmitter/CHANGES.md
node_modules/osc/bower_components/eventEmitter/component.json
node_modules/osc/bower_components/eventEmitter/EventEmitter.d.ts
node_modules/osc/bower_components/eventEmitter/EventEmitter.js
node_modules/osc/bower_components/eventEmitter/EventEmitter.min.js
node_modules/osc/bower_components/eventEmitter/package-lock.json
node_modules/osc/bower_components/eventEmitter/README.md
node_modules/osc/bower_components/eventEmitter/UNLICENSE
node_modules/osc/bower_components/long/.bower.json
node_modules/osc/bower_components/long/.travis.yml
node_modules/osc/bower_components/long/bower.json
node_modules/osc/bower_components/long/index.js
node_modules/osc/bower_components/long/LICENSE
node_modules/osc/bower_components/long/package.json
node_modules/osc/bower_components/long/README.md
node_modules/osc/bower_components/long/webpack.config.js
node_modules/osc/bower_components/long/dist/long.js
node_modules/osc/bower_components/long/dist/long.js.map
node_modules/osc/bower_components/long/externs/long.js
node_modules/osc/bower_components/long/src/long.js
node_modules/osc/bower_components/long/src/wasm.wasm
node_modules/osc/bower_components/long/src/wasm.wast
node_modules/osc/bower_components/long/tests/index.js
node_modules/osc/bower_components/long/tests/goog/base.js
node_modules/osc/bower_components/long/tests/goog/index.js
node_modules/osc/bower_components/long/tests/goog/initial/long_test.js
node_modules/osc/bower_components/long/tests/goog/initial/long.js
node_modules/osc/bower_components/long/tests/goog/initial/README
node_modules/osc/bower_components/long/tests/goog/recent/long_test.js
node_modules/osc/bower_components/long/tests/goog/recent/long.js
node_modules/osc/bower_components/long/tests/goog/recent/README
node_modules/osc/bower_components/requirejs/.bower.json
node_modules/osc/bower_components/requirejs/bower.json
node_modules/osc/bower_components/requirejs/README.md
node_modules/osc/bower_components/requirejs/require.js
node_modules/osc/bower_components/slip.js/.bower.json
node_modules/osc/bower_components/slip.js/bower.json
node_modules/osc/bower_components/slip.js/GPL-LICENSE.txt
node_modules/osc/bower_components/slip.js/MIT-LICENSE.txt
node_modules/osc/bower_components/slip.js/README.md
node_modules/osc/bower_components/slip.js/dist/slip.min.js
node_modules/osc/bower_components/slip.js/src/slip.js
node_modules/osc/build-support/js/module-footer.js
node_modules/osc/build-support/js/module-header.js
node_modules/osc/dist/osc-browser.js
node_modules/osc/dist/osc-browser.min.js
node_modules/osc/dist/osc-chromeapp.js
node_modules/osc/dist/osc-chromeapp.min.js
node_modules/osc/dist/osc-module.js
node_modules/osc/dist/osc-module.min.js
node_modules/osc/dist/osc.js
node_modules/osc/dist/osc.min.js
node_modules/osc/provisioning/playbook.yml
node_modules/osc/provisioning/requirements.yml
node_modules/osc/provisioning/vars.yml
node_modules/osc/src/osc-transports.js
node_modules/osc/src/osc.js
node_modules/osc/src/platforms/osc-chromeapp.js
node_modules/osc/src/platforms/osc-node-serialport-loader.js
node_modules/osc/src/platforms/osc-node-serialport.js
node_modules/osc/src/platforms/osc-node.js
node_modules/osc/src/platforms/osc-websocket-client.js
node_modules/osc/tests/all-tests.html
node_modules/osc/tests/node-all-tests.js
node_modules/osc/tests/node-buffer-tests.js
node_modules/osc/tests/node-transport-tests.js
node_modules/osc/tests/osc-module-tests.html
node_modules/osc/tests/osc-module-tests.js
node_modules/osc/tests/osc-tests.html
node_modules/osc/tests/osc-tests.js
node_modules/osc/tests/osc-web-tests.html
node_modules/osc/tests/osc-web-tests.js
node_modules/osc/tests/testem.json
node_modules/osc/tests/transport-tests.html
node_modules/osc/tests/transport-tests.js
node_modules/osc-js/LICENSE
node_modules/osc-js/package.json
node_modules/osc-js/README.md
node_modules/osc-js/lib/atomic.d.ts
node_modules/osc-js/lib/atomic.d.ts.map
node_modules/osc-js/lib/bundle.d.ts
node_modules/osc-js/lib/bundle.d.ts.map
node_modules/osc-js/lib/events.d.ts
node_modules/osc-js/lib/events.d.ts.map
node_modules/osc-js/lib/message.d.ts
node_modules/osc-js/lib/message.d.ts.map
node_modules/osc-js/lib/osc.d.ts
node_modules/osc-js/lib/osc.d.ts.map
node_modules/osc-js/lib/osc.js
node_modules/osc-js/lib/osc.min.js
node_modules/osc-js/lib/osc.min.js.map
node_modules/osc-js/lib/packet.d.ts
node_modules/osc-js/lib/packet.d.ts.map
node_modules/osc-js/lib/atomic/blob.d.ts
node_modules/osc-js/lib/atomic/blob.d.ts.map
node_modules/osc-js/lib/atomic/constant.d.ts
node_modules/osc-js/lib/atomic/constant.d.ts.map
node_modules/osc-js/lib/atomic/float32.d.ts
node_modules/osc-js/lib/atomic/float32.d.ts.map
node_modules/osc-js/lib/atomic/float64.d.ts
node_modules/osc-js/lib/atomic/float64.d.ts.map
node_modules/osc-js/lib/atomic/int32.d.ts
node_modules/osc-js/lib/atomic/int32.d.ts.map
node_modules/osc-js/lib/atomic/int64.d.ts
node_modules/osc-js/lib/atomic/int64.d.ts.map
node_modules/osc-js/lib/atomic/string.d.ts
node_modules/osc-js/lib/atomic/string.d.ts.map
node_modules/osc-js/lib/atomic/timetag.d.ts
node_modules/osc-js/lib/atomic/timetag.d.ts.map
node_modules/osc-js/lib/atomic/uint64.d.ts
node_modules/osc-js/lib/atomic/uint64.d.ts.map
node_modules/osc-js/lib/common/helpers.d.ts
node_modules/osc-js/lib/common/helpers.d.ts.map
node_modules/osc-js/lib/common/utils.d.ts
node_modules/osc-js/lib/common/utils.d.ts.map
node_modules/osc-js/lib/external/dgram.d.ts
node_modules/osc-js/lib/external/dgram.d.ts.map
node_modules/osc-js/lib/external/ws.d.ts
node_modules/osc-js/lib/external/ws.d.ts.map
node_modules/osc-js/lib/plugin/bridge.d.ts
node_modules/osc-js/lib/plugin/bridge.d.ts.map
node_modules/osc-js/lib/plugin/dgram.d.ts
node_modules/osc-js/lib/plugin/dgram.d.ts.map
node_modules/osc-js/lib/plugin/plugin.d.ts
node_modules/osc-js/lib/plugin/plugin.d.ts.map
node_modules/osc-js/lib/plugin/wsclient.d.ts
node_modules/osc-js/lib/plugin/wsclient.d.ts.map
node_modules/osc-js/lib/plugin/wsserver.d.ts
node_modules/osc-js/lib/plugin/wsserver.d.ts.map
node_modules/serialport/LICENSE
node_modules/serialport/package.json
node_modules/serialport/README.md
node_modules/serialport/dist/index.d.ts
node_modules/serialport/dist/index.js
node_modules/serialport/dist/serialport-mock.d.ts
node_modules/serialport/dist/serialport-mock.js
node_modules/serialport/dist/serialport.d.ts
node_modules/serialport/dist/serialport.js
node_modules/slip/.jshintrc
node_modules/slip/.npmignore
node_modules/slip/bower.json
node_modules/slip/GPL-LICENSE.txt
node_modules/slip/Gruntfile.js
node_modules/slip/MIT-LICENSE.txt
node_modules/slip/package.json
node_modules/slip/README.md
node_modules/slip/dist/slip.min.js
node_modules/slip/src/slip.js
node_modules/slip/tests/node-all-tests.js
node_modules/slip/tests/slip-tests.html
node_modules/slip/tests/slip-tests.js
node_modules/wolfy87-eventemitter/bower.json
node_modules/wolfy87-eventemitter/CHANGES.md
node_modules/wolfy87-eventemitter/component.json
node_modules/wolfy87-eventemitter/EventEmitter.d.ts
node_modules/wolfy87-eventemitter/EventEmitter.js
node_modules/wolfy87-eventemitter/EventEmitter.min.js
node_modules/wolfy87-eventemitter/package.json
node_modules/wolfy87-eventemitter/README.md
node_modules/wolfy87-eventemitter/UNLICENSE
node_modules/wolfy87-eventemitter/docs/api.dust
node_modules/wolfy87-eventemitter/docs/api.md
node_modules/wolfy87-eventemitter/docs/guide.md
node_modules/wolfy87-eventemitter/docs/render.js
node_modules/wolfy87-eventemitter/tests/index.html
node_modules/wolfy87-eventemitter/tests/tests.js
node_modules/wolfy87-eventemitter/tools/dist.sh
node_modules/wolfy87-eventemitter/tools/doc.sh
node_modules/wolfy87-eventemitter/tools/server-python2.sh
node_modules/wolfy87-eventemitter/tools/server.sh
node_modules/ws/browser.js
node_modules/ws/index.js
node_modules/ws/LICENSE
node_modules/ws/package.json
node_modules/ws/README.md
node_modules/ws/wrapper.mjs
node_modules/ws/lib/buffer-util.js
node_modules/ws/lib/constants.js
node_modules/ws/lib/event-target.js
node_modules/ws/lib/extension.js
node_modules/ws/lib/limiter.js
node_modules/ws/lib/permessage-deflate.js
node_modules/ws/lib/receiver.js
node_modules/ws/lib/sender.js
node_modules/ws/lib/stream.js
node_modules/ws/lib/subprotocol.js
node_modules/ws/lib/validation.js
node_modules/ws/lib/websocket-server.js
node_modules/ws/lib/websocket.js
